<section> 
  <div class="container bg-white pt-5 px-0">
    <div class="d-flex flex-row pt-5 border-top">
      
      <div class="col-sm-12 col-md-8">
        <h3><strong>This First Heading</strong><span class="text-secondary"> Will Catch Your Eye</span> </h3>
        <p class="fs-6">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
          Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p> 
      </div>
      <div class="col-sm-12 col-md-4 text-center">
        <img
          src="https://img.freepik.com/vector-premium/imagen-perfil-avatar-hombre-aislada-fondo-imagen-profil-avatar-hombre_1293239-4841.jpg?semt=ais_items_boosted&w=740"
          alt="Foto de perfil de un hombre"
          class="rounded-circle img-fluid"
          style="width: 20em; height: 20em;">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container bg-white p-5 px-0 ">
    <div class="d-flex flex-row  pt-5 border-top">
      <div class="col-sm-12 col-md-4 text-center">
        <img
          src="https://media.istockphoto.com/id/1335037574/es/foto/primer-plano-de-las-manos-femeninas-escribiendo-en-el-teclado.jpg?s=612x612&w=0&k=20&c=FGVuMukIaiJnF_Um6tLgMGGa8oolybs_qCo5cEZKReM="
          alt="Manos de mujer escribiendo en un teclado"
          class="rounded-circle img-fluid"
          style="width: 20em; height: 20em;">
      </div>
      <div class="col-sm-12 col-md-8">
        <h3><strong>This Second Heading</strong><span class="text-secondary"> Is Pretty Too</span> </h3>
        <p class="fs-6">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
          Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
    </div>
  </div>
</section>

