<div class="container-fluid">
        <div class="row justify-content-center">
                <div class="col-auto d-flex flex-column" style="width: 63rem;">
                <h6>Portfolio</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, tenetur delectus? At, modi veritatis a aliquid obcaecati maiores id distinctio culpa et ea in maxime nulla, doloremque sequi facere impedit.</p>
                </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto ">
                <div class="card me-4" style="width: 18rem;">
                    <img src="https://imgs.search.brave.com/jdiJBUtfeTbSyLqBtmy8KCmShlAzUtX4xPO3OI6Y6W0/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWdz/LnNlYXJjaC5icmF2/ZS5jb20vcGJ3V3F3/bWVwcUdHaHNLMURt/VGYzQUFUMk1kUHhj/Xzl5cDl3VGJfZlpo/VS9yczpmaXQ6NTAw/OjA6MDowL2c6Y2Uv/YUhSMGNITTZMeTlw/YldjdS9abkpsWlhC/cGF5NWpiMjB2L1pt/OTBiM010Y0hKbGJX/bDEvYlM5cGJuTmpj/bWx3WTJsdi9iaTF1/ZFdWMmJ5MXdjbTk1/L1pXTjBiMTh5T0RR/NE1UVXQvTVRBMk1D/NXFjR2NfYzJWdC9k/RDFoYVhOZmFIbGlj/bWxrL0puYzlOelF3.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#">Project name</a>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa est adipisci, maiores minima placeat asperiores officia praesentium expedita repudiandae, nemo enim culpa ab ex, dolores quae nulla vel possimus ipsam?</p>
                    </div>
                </div>
            </div>
            <div class="col-auto d-flex justify-content-center">
                <div class="card me-4" style="width: 18rem;">
                    <img src="https://imgs.search.brave.com/jdiJBUtfeTbSyLqBtmy8KCmShlAzUtX4xPO3OI6Y6W0/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWdz/LnNlYXJjaC5icmF2/ZS5jb20vcGJ3V3F3/bWVwcUdHaHNLMURt/VGYzQUFUMk1kUHhj/Xzl5cDl3VGJfZlpo/VS9yczpmaXQ6NTAw/OjA6MDowL2c6Y2Uv/YUhSMGNITTZMeTlw/YldjdS9abkpsWlhC/cGF5NWpiMjB2L1pt/OTBiM010Y0hKbGJX/bDEvYlM5cGJuTmpj/bWx3WTJsdi9iaTF1/ZFdWMmJ5MXdjbTk1/L1pXTjBiMTh5T0RR/NE1UVXQvTVRBMk1D/NXFjR2NfYzJWdC9k/RDFoYVhOZmFIbGlj/bWxrL0puYzlOelF3.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#">Project name</a>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa est adipisci, maiores minima placeat asperiores officia praesentium expedita repudiandae, nemo enim culpa ab ex, dolores quae nulla vel possimus ipsam?</p>
                    </div>
                </div>
            </div>
            <div class="col-auto d-flex justify-content-center">
                <div class="card me-4" style="width: 18rem;">
                    <img src="https://imgs.search.brave.com/jdiJBUtfeTbSyLqBtmy8KCmShlAzUtX4xPO3OI6Y6W0/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWdz/LnNlYXJjaC5icmF2/ZS5jb20vcGJ3V3F3/bWVwcUdHaHNLMURt/VGYzQUFUMk1kUHhj/Xzl5cDl3VGJfZlpo/VS9yczpmaXQ6NTAw/OjA6MDowL2c6Y2Uv/YUhSMGNITTZMeTlw/YldjdS9abkpsWlhC/cGF5NWpiMjB2L1pt/OTBiM010Y0hKbGJX/bDEvYlM5cGJuTmpj/bWx3WTJsdi9iaTF1/ZFdWMmJ5MXdjbTk1/L1pXTjBiMTh5T0RR/NE1UVXQvTVRBMk1D/NXFjR2NfYzJWdC9k/RDFoYVhOZmFIbGlj/bWxrL0puYzlOelF3.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#">Project name</a>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa est adipisci, maiores minima placeat asperiores officia praesentium expedita repudiandae, nemo enim culpa ab ex, dolores quae nulla vel possimus ipsam?</p>
                    </div>
                </div>
            </div>
        </div>
</div>

